# Genel
node_modules/
coverage/
dist/
build/
web-build/
.expo/
.idea/
.vscode/
.DS_Store
npm-debug.log*
yarn-error.log*

# Çevre dosyaları
.env
.env.*

# React Native / Android / iOS
android/app/build/
ios/build/
ios/Pods/
*.iml

# Test ve rapor
jest-coverage/
*.lcov
*.coverage


